#root {
  width: 100vw;
  height: 100vh;
  margin: 0%;
}

.container {
  padding-right: initial;
  padding-left: initial;
  max-width: 2000px;
}

.header {
  display: flex;
  width: 100vw;
  background-color: #B9D305;
  justify-content: space-around;
}

.logoHeader {
  display: flex;
  width: 15%;
  height: initial;
  margin-left: 50vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.greeting {
  align-self: flex-end;
  font-family: Arial Black;
  font-variant-caps: revert;
  padding-left: 1vw;
}

.col {
  height: 80vh;  
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
}

.buttons>*{
  background-color: #B9D305;
  border-color: #8E908F;
  margin: 3vh;
}

.btn-primary:hover {
  background-color: #8E908F;
  border-color: #566301;
}

.skillsTable {
  overflow: scroll;
  height: 80vh;
  width: 100%;
  padding: 4%;
  margin-left: 10%;
}

.logOut {
  background-color: #8E908F;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.logOut:hover {
  background-color: #8E908F;
  opacity: 75%;
  color: #fff;
}

/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */